@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Inconsolata:wght@900&display=swap');
html, body, #full, #someid {
    margin: 0px auto;
}
.background {
    background-image: url("https://wallpaperaccess.com/full/1129093.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}
nav ul, footer ul {
    font-family: 'Inconsolata', monospace;
    margin-top: 0px;
    background-image: url("https://wallpapercave.com/wp/V9BqwTs.png");
    padding: 10px;
    height: 20px;
    text-align: center;
    list-style: none;
    font-weight: bold;
    font-size: 20px; 
    color: black;
    margin-bottom: 0px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a.class1 {
    color:rgb(119, 119, 119);
}
a.class1:link  {
    text-decoration: none; 
    color:rgb(119, 119, 119);
}
a.class1:visited {
    text-decoration: none; 
    color:rgb(119, 119, 119);
}
a.class1:hover {
    text-decoration: underline; 
    filter: brightness(0%) saturate(100%) invert(100%) sepia(100%) saturate(7500%) hue-rotate(198deg) brightness(104%) contrast(104%);
}
a.class1:active {
    text-decoration: none; 
    color:rgb(119, 119, 119);
}

a.class2 {
    color:#7AD7FF
}
a.class2:link  {
    text-decoration: none; 
    color:#7AD7FF;
}
a.class2:visited {
    text-decoration: none; 
    color:#7AD7FF
}
a.class2:hover {
    text-decoration: underline; 
    filter: brightness(0%) saturate(100%) invert(100%) sepia(100%) saturate(7500%) hue-rotate(198deg) brightness(104%) contrast(104%);
}
a.class2:active {
    text-decoration: none; 
    color:#7AD7FF
}

h1 {
    font-family: 'Bitter', serif;
    padding: 20px;
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
    height: 100px;
    color: rgb(255, 255, 255);
}
h2 {
    font-family: 'Bitter', serif;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.button {
    border: none;
    background: none;
    margin-bottom: 575px;
}
.button:hover {
    filter: brightness(0%) saturate(100%) invert(100%) sepia(100%) saturate(7500%) hue-rotate(198deg) brightness(104%) contrast(104%);
}
.flex-parent {
    display: flex;
}
  
.jc-center {
    justify-content: center;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
